body {
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  margin: 0;

}


#board, .boardInfo {
  max-width: 550px;

}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;

}

#start, .boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
  font-size: 5rem;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: hsla(70deg, 60%, 60%, .9);
  border: none;
  color: white;
  padding: .5rem;
  border-radius: 10%;
  cursor: pointer;
}

#scoreBoard {
  display: inline-flex;

}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: hsla(100deg, 60%, 60%);
}

.snakeSquare {
  background-color: hsla(220deg, 60%, 60%);
  border: 1px solid #000;
}

.foodSquare {
  background-color: hsla(340deg, 60%, 60%);
  border: 1px solid #000;
}